
/* <weight>: Use a value from 100 to 900 */
/* <uniquifier>: Use a unique and descriptive class name */

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

:root {
    --text: #231308;
    --background: #eae8d8;
    --background2: #d6d4c6;
    --primary: #78583e;
    --secondary: #ba9668;
    --accent: #3e220f;
}

body {
    background-color: var(--background);
    font-family: "Noto Serif";
    padding: 48px 48px;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

.books {
    --min-size: 200px;
    background-color: var(--background2);
    border-radius: 16px;
    padding: 16px;
    
    width: clamp(var(--min-size), 100%, 800px);

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--min-size), 1fr));
    grid-auto-rows: 1fr;
    gap: 16px;
}

.card {
    background-color: var(--secondary);
    border-radius: 8px;
}

.book {
    position: relative;
}

.add {
    border: none;
    
    display: grid;
    grid-template-rows: min-content min-content;
    justify-items: center;
    align-content: center;

    transition: all ease-in-out 0.07s;
}

.add:hover {
    cursor: pointer;
    scale: 1.05;
}

svg {
    fill: var(--accent);
    width: 100px;
}

.delete {
    position: absolute;
    top: 8px;
    right: 8px;
}